<a href="https://colab.research.google.com/github/SriGayathriG/Python/blob/main/Sri_Gayathri.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [37]:
import numpy as np
import pandas as pd
import seaborn as sns

In [44]:
df = pd.read_csv("/content/input.csv",header=50)

In [45]:
df.head(5)

,Cumulative time,Real time,Physiological stage,Artifact corrected heart rate,%VO2max,VO2,EPOC,Respiration rate,Ventilation,Energy expenditure,Energy expenditure from fats,VLF Power,LF Power,HF Power,HF2 Power
0,0,4:36:49,10,76.86,12.2594,6.91,0.01,16.26,9.44,2.42,51.07,102.8,16058.5,3812.67,4165.51
1,1,4:36:50,10,76.86,12.2594,6.91,0.01,16.26,9.44,2.42,51.07,102.8,16058.5,3812.67,4165.51
2,2,4:36:51,10,76.86,12.2594,6.91,0.01,16.26,9.44,2.42,51.07,102.8,16058.5,3812.67,4165.51
3,3,4:36:52,10,76.86,12.2594,6.91,0.01,16.26,9.44,2.42,51.07,102.8,16058.5,3812.67,4165.51
4,4,4:36:53,10,76.86,12.2350,6.90,0.02,16.26,9.43,2.41,51.09,102.8,16058.5,3812.67,4165.51

In [46]:
mydata = df.loc[0]
datas = list(mydata)

In [51]:
df.head()

,Cumulative time,Real time,Physiological stage,Artifact corrected heart rate,%VO2max,VO2,EPOC,Respiration rate,Ventilation,Energy expenditure,Energy expenditure from fats,VLF Power,LF Power,HF Power,HF2 Power
0,0,4:36:49,10,76.86,12.2594,6.91,0.01,16.26,9.44,2.42,51.07,102.8,16058.5,3812.67,4165.51
1,1,4:36:50,10,76.86,12.2594,6.91,0.01,16.26,9.44,2.42,51.07,102.8,16058.5,3812.67,4165.51
2,2,4:36:51,10,76.86,12.2594,6.91,0.01,16.26,9.44,2.42,51.07,102.8,16058.5,3812.67,4165.51
3,3,4:36:52,10,76.86,12.2594,6.91,0.01,16.26,9.44,2.42,51.07,102.8,16058.5,3812.67,4165.51
4,4,4:36:53,10,76.86,12.2350,6.90,0.02,16.26,9.43,2.41,51.09,102.8,16058.5,3812.67,4165.51

In [52]:
df = df.drop(labels=0,axis=0)

In [53]:
df.head()

,Cumulative time,Real time,Physiological stage,Artifact corrected heart rate,%VO2max,VO2,EPOC,Respiration rate,Ventilation,Energy expenditure,Energy expenditure from fats,VLF Power,LF Power,HF Power,HF2 Power
1,1,4:36:50,10,76.86,12.2594,6.91,0.01,16.26,9.44,2.42,51.07,102.80,16058.50,3812.67,4165.51
2,2,4:36:51,10,76.86,12.2594,6.91,0.01,16.26,9.44,2.42,51.07,102.80,16058.50,3812.67,4165.51
3,3,4:36:52,10,76.86,12.2594,6.91,0.01,16.26,9.44,2.42,51.07,102.80,16058.50,3812.67,4165.51
4,4,4:36:53,10,76.86,12.2350,6.90,0.02,16.26,9.43,2.41,51.09,102.80,16058.50,3812.67,4165.51
5,5,4:36:54,10,76.24,12.2106,6.89,0.02,16.29,9.42,2.41,51.11,100.52,15931.12,3671.59,4007.33

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11575 entries, 1 to 11575
Data columns (total 15 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Cumulative time                11575 non-null  int64
 1   Real time                      11575 non-null  object
 2   Physiological stage            11575 non-null  int64
 3   Artifact corrected heart rate  11575 non-null  float64
 4   %VO2max                        11575 non-null  float64
 5   VO2                            11575 non-null  float64
 6   EPOC                           11575 non-null  float64
 7   Respiration rate               11575 non-null  float64
 8   Ventilation                    11575 non-null  float64
 9   Energy expenditure             11575 non-null  float64
 10  Energy expenditure from fats   11575 non-null  float64
 11  VLF Power                      11575 non-null  float64
 12  LF Power                       11575 non-null  float64
 13  HF Power                       11575 non-null  float64
 14  HF2 Power                      11575 non-null  float64
dtypes: float64(12), int64(2), object(1)
memory usage: 1.4+ MB

In [56]:
df['%VO2max'] = pd.to_numeric(df['%VO2max'])

In [57]:
df.info

<bound method DataFrame.info of        Cumulative time Real time  Physiological stage  \
1                    1   4:36:50                   10
2                    2   4:36:51                   10
3                    3   4:36:52                   10
4                    4   4:36:53                   10
5                    5   4:36:54                   10
...                ...       ...                  ...
11571            11571   7:49:40                    7
11572            11572   7:49:41                    7
11573            11573   7:49:42                    7
11574            11574   7:49:43                    7
11575            11575   7:49:44                    7

       Artifact corrected heart rate  %VO2max   VO2  EPOC  Respiration rate  \
1                              76.86  12.2594  6.91  0.01             16.26
2                              76.86  12.2594  6.91  0.01             16.26
3                              76.86  12.2594  6.91  0.01             16.26
4                              76.86  12.2350  6.90  0.02             16.26
5                              76.24  12.2106  6.89  0.02             16.29
...                              ...      ...   ...   ...               ...
11571                         111.19  14.8473  8.37  4.62             15.11
11572                         111.19  14.8483  8.37  4.61             15.11
11573                         111.19  14.8483  8.37  4.61             15.11
11574                         111.19  14.8483  8.37  4.61             15.11
11575                         111.19  14.8483  8.37  4.61             15.11

       Ventilation  Energy expenditure  Energy expenditure from fats  \
1             9.44                2.42                         51.07
2             9.44                2.42                         51.07
3             9.44                2.42                         51.07
4             9.43                2.41                         51.09
5             9.42                2.41                         51.11
...            ...                 ...                           ...
11571        13.04                2.88                         72.75
11572        13.04                2.88                         72.75
11573        13.04                2.88                         72.75
11574        13.04                2.88                         72.75
11575        13.04                2.88                         72.75

       VLF Power  LF Power  HF Power  HF2 Power
1         102.80  16058.50   3812.67    4165.51
2         102.80  16058.50   3812.67    4165.51
3         102.80  16058.50   3812.67    4165.51
4         102.80  16058.50   3812.67    4165.51
5         100.52  15931.12   3671.59    4007.33
...          ...       ...       ...        ...
11571     341.48   3391.81    708.56     789.28
11572     341.48   3391.81    708.56     789.28
11573     341.48   3391.81    708.56     789.28
11574     341.48   3391.81    708.56     789.28
11575     341.48   3391.81    708.56     789.28

[11575 rows x 15 columns]>

In [60]:
max(list(df['%VO2max']))

85.5317

In [63]:
labels = ['green','blue','red','black']
bins = [20,30,40,85,100]
df['%VO2max'] = pd.cut(df['%VO2max'],bins = bins, labels = labels, right=False)

In [67]:
df.head()

,Cumulative time,Real time,Physiological stage,Artifact corrected heart rate,%VO2max,VO2,EPOC,Respiration rate,Ventilation,Energy expenditure,Energy expenditure from fats,VLF Power,LF Power,HF Power,HF2 Power
1,1,4:36:50,10,76.86,NaN,6.91,0.01,16.26,9.44,2.42,51.07,102.80,16058.50,3812.67,4165.51
2,2,4:36:51,10,76.86,NaN,6.91,0.01,16.26,9.44,2.42,51.07,102.80,16058.50,3812.67,4165.51
3,3,4:36:52,10,76.86,NaN,6.91,0.01,16.26,9.44,2.42,51.07,102.80,16058.50,3812.67,4165.51
4,4,4:36:53,10,76.86,NaN,6.90,0.02,16.26,9.43,2.41,51.09,102.80,16058.50,3812.67,4165.51
5,5,4:36:54,10,76.24,NaN,6.89,0.02,16.29,9.42,2.41,51.11,100.52,15931.12,3671.59,4007.33

In [83]:
xyz = df['%VO2max']
xyz = list(xyz)
zzz = []

In [93]:
for i in xyz:
  if (0 <= i <= 20):
    zzz.append('green')
  elif (21 <= i <= 30):
    zzz.append('blue')
  elif (31 <= i <= 40):
    zzz.append('red')
  elif (i >= 41):
    zzz.append('black')

TypeError: ignored